
ul {
    list-style-type:none;
    padding:0px;
}

ul li {
    padding: 3px;
    margin-bottom: 5px;
}

ul li:nth-child(2n+1) {
    background-color: rgb(216, 216, 216);
}

ul li:nth-child(2n) {
    background-color: rgb(155, 155, 155);
}

ul li a:link {
    color: blue;
}

ul li a:visited {
    color: purple;
}

ul li a:hover {
    color: yellow;
}

ul li :active {
    color: green;
}
