table tr th {
    background-color: rgb(136,132,132);
    color:white;
    text-align: left ;
}

table tr td:first-child {
    background-color: rgb(216,212,212);
    text-align: right;
    font-weight: bold;
    color: rgb(136,132,132);
}
